body {
  margin: 0;
}

.header {
  @include gradient($primary-color, $secondary-color);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: $fifth-color;

  .header__nav {
    list-style-type: none;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: .6em;

    li:nth-child(1) {
      float: left;
    }

    li {
      display: inline-block;
      float: right;
      margin: 20px
    }
  }
  &__body {
		text-align: center;
	}
}
