.testimonial {
	text-align: center;
	padding-top: 20px;
}

.testimonials {
	@include gradient($primary-color, $secondary-color);
	height: 350px;
}

.testimonial__authors {
  list-style-type: none;

  li {
    display: inline-block;
    margin: 5px;
  }
}
