.testimonial {
	text-align: center;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	color: $fifth-color;
}

.testimonials {
	@include gradient($primary-color, $secondary-color);
}

.testimonial__authors {
  list-style-type: none;

  li {
    display: inline-block;
    margin: 5px;
  }
}
